/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-color: #ffb6c1;
    --text-color: #ffffff;
    --bg-color-01: #1f242d;
    --bg-color-02: #323946;
    --color-00: #0000001a;

    /* Extra */
    --color-01: #999999;
    --color-02: #009539;
    --color-03: #7950f2;
    --color-04: #c00000;
    --color-05: #232323;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

body {
    background-color: var(--bg-color-02);
    color: var(--text-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem;
    background-color: var(--bg-color-01);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.nav-responsive {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	position: 1rem;
	background-color: var(--bg-color-01);
}

.nav a, .nav-responsive a {
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    transition: 0.4s;
}

.nav a:hover, .nav-responsive a:hover {
    color: var(--main-color);
}

section {
    min-height: 100vh;
    padding: 6rem 6rem 2rem;
}

span {
    color: var(--main-color);
}

.home, .about {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.home-image, .about-img {
    border: 0.6rem solid transparent;
    border-image: linear-gradient(135deg, transparent 50%, var(--main-color)) 1;
}

.home-image img, .about-img img {
    width: 80%;
    max-width: 400px;
    max-height: 500px;
    height: auto;
}

.about {
    background-color: var(--bg-color-02);
}

.home-content, .about-content {
    width: 45%;
}

.home-content h3, .about-content h3 {
    font-size: 1.6rem;
    font-weight: 700;
}

.home-content h1, .about-content h1 {
    line-height: 1.3;
    font-size: 2.7rem;
    font-weight: 700;
}

.home-content p, .about-content p {
    margin-top: 1.2rem;
    text-align: justify;
}

.service-text {
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Limita o texto a 4 linhas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s ease;
    max-height: 6em; /* Aproximadamente 4 linhas de altura */
}

.service-text.expanded {
    -webkit-line-clamp: unset; /* Remove a limitação de linhas */
    max-height: 1000px; /* Um valor grande o suficiente para mostrar todo o texto */
}

#services-btn {
    display: block;
    width: fit-content;
    margin: 2rem auto;
    padding: 0.7rem 2rem;
    background-color: var(--main-color);
    border-radius: 2rem;
    color: var(--bg-color-01);
    font-weight: 600;
    text-align: center;
    transition: 0.3s ease;
}

#services-btn:hover {
    box-shadow: 0 0 0.3rem var(--main-color);
    background-color: inherit;
    color: var(--main-color);
    cursor: pointer;
    transform: scale(1.1);
}

.services h2, .portfolio h2, .contact h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.services-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1.2rem;
}

.services-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 25rem;
    padding: 2rem 1rem 2.5rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 0.15rem solid var(--bg-color-02);
    background-color: var(--bg-color-01);
    transition: 0.5s ease;
}

.services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.01);
}

.services-box i {
    font-size: 4.3rem;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 1.5rem;
}

.services-box p {
    margin: 0.5rem;
    letter-spacing: 0.1rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn {
    display: inline-block;
    padding: 0.7rem 1.8rem;
    background-color: var(--main-color);
    border-radius: 2rem;
    color: var(--bg-color-01);
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: 0.3s ease;
    margin-top: 1.2rem;
}

.btn:hover {
    box-shadow: 0 0 0.3rem var(--main-color);
    background-color: inherit;
    color: var(--main-color);
    cursor: pointer;
    transform: scale(1.1);
}

/* Seção de Portfólio */
.portfolio {
    background-color: var(--bg-color-02);
    padding: 4rem 0;
}

.portfolio h2 {
    text-align: center;
    padding: 1rem;
}

.portfolio-container {
    display: grid;
    gap: 1.2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio-box {
    position: relative;
    border-radius: 0.6rem;
    box-shadow: 0 0 0.6rem var(--bg-color-02);
    overflow: hidden;
}

.portfolio-box img {
    width: 100%;
    display: block;
    transition: transform 0.5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 1.5rem;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
    box-sizing: border-box;
    overflow: hidden;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 1.6rem;
    color: var(--text-color);
    margin-bottom: 0.5rem;
}

.portfolio-layer p {
    font-size: 1rem;
    color: var(--text-color);
    max-height: 6rem;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    margin-bottom: 1rem;
}

.portfolio-layer a {
    display: block;
    width: 3rem;
    height: 3rem;
    background: var(--text-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}

.portfolio-layer a i {
    font-size: 1.2rem;
    color: var(--bg-color-01);
}

.portfolio-layer a:hover {
    background: var(--main-color);
    transform: scale(1.1);
}

form {
    max-width: 45rem;
    margin: 0.6rem auto 2rem;
    text-align: center;
}

form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.8rem;
}

form .input-box input, form textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--bg-color-01);
    border-radius: 0.5rem;
    margin: 0.4rem 0;
    border: 1px solid var(--color-01);
    box-sizing: border-box;
}

textarea {
    resize: none;
    min-height: 8rem;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    background-color: var(--bg-color-01);
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: 0.15rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 1.8rem 0.5rem;
    transition: 0.5s ease;
}

.social-media a:hover {
    background-color: var(--main-color);
    color: var(--bg-color-02);
    box-shadow: 0 0 1.2rem var(--main-color);
}

.menu-hamburguer {
    display: none;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 2rem;
    height: 0.3rem;
    background-color: var(--text-color);
    margin: 0.4rem 0;
    transition: 0.3s ease;
}

.change .bar1 {
    transform: translate(0, 0.65rem) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -0.65rem) rotate(45deg);
}

@media (max-width: 768px) {
    .menu-hamburguer {
        display: block;
    }

    .nav {
        display: none;
    }

    .nav-responsive a{
        display: block;
        font-size: 1.2rem;
        margin: 0.5rem 0;
    }

    section {
        padding: 6rem 2.5rem;
    }

    .home, .about {
        flex-direction: column;
        gap: 1.2rem;
    }

    .home-image, .about-img {
        width: 80%;
        max-width: 80%;
    }

    .home-content, .about-content {
        width: 100%;
    }

    .home-content div {
        text-align: center;
    }

    .home-content h1, .about-content h1 {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.3;
    }

    .services-container {
        flex-direction: column;
        align-items: center;
    }

    .services-box {
        width: 100%;
    }
}

@media (min-width: 576px) {
    .home-image, .about-img {
        width: 65%;
        max-width: 65%;
    }

    .services-box {
        width: 70%;
    }
}

@media (min-width: 768px) {
    .menu-hamburguer {
        display: none;
    }

    .nav {
        display: block;
    }

    .nav-responsive, .nav-responsive a {
        display: none;
    }

    .home, .about {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .home-image, .about-img {
        max-width: 35%;
    }

    .home-content, .about-content {
        width: 50%;
    }

    .services-box {
        width: 60%;
        margin-bottom: 2rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }

    form .input-box input {
        width: 49%;
    }
}

@media (min-width: 992px) {
    .services-container {
        flex-direction: row;
        gap: 1.2rem;
    }
}

@media (min-width: 1200px) {
    .home-image, .about-img {
        max-width: 25%;
    }

    .home-content h1 {
        font-size: 2.7rem;
    }

    .home-content h3 {
        font-size: 2rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(3, 1fr);
    }
}